<div class="container">
  <div class="row justify-content-center">
    <div class="col mt-4">
      <h1>Stupid Coaching</h1>

      <p class="mt-4"><%= @question %></p>
      <p class="blockquote-footer">You</p>

      <p class="mt-4"><%= @answer %></p>
      <p class="blockquote-footer">Your coach</p><br>

      <%= link_to "Ask a new question", 'ask' %>
    </div>
  </div>
</div>


